<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hybridlauncher">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:label="HybridLauncher"
        android:allowBackup="true"
        android:theme="@style/Theme.HybridLauncher">

        <activity android:name=".LauncherActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".LockScreenActivity"
            android:exported="true" />
        <activity android:name=".ControlCenterActivity" android:exported="true" />
    </application>
</manifest>
